@charset "UTF-8";

// ==========================================================================
// Plyr styles
// https://github.com/sampotts/plyr
// TODO: Review use of BEM classnames
// ==========================================================================

@use 'lib/css-vars';

$css-vars-use-native: true;

@use 'settings/breakpoints';
@use 'settings/colors';
@use 'settings/cosmetics';
@use 'settings/type';
@use 'settings/badges';
@use 'settings/captions';
@use 'settings/controls';
@use 'settings/helpers';
@use 'settings/menus';
@use 'settings/progress';
@use 'settings/sliders';
@use 'settings/tooltips';
@use 'lib/animation';
@use 'lib/functions';
@use 'lib/mixins';
@use 'base';
@use 'components/badges' as componentsBadges;
@use 'components/captions' as componentsCaptions;
@use 'components/control';
@use 'components/controls' as componentsControls;
@use 'components/menus' as componentsMenu;
@use 'components/sliders' as componentsSlider;
@use 'components/poster';
@use 'components/times';
@use 'components/tooltips' as componentsTooltips;
@use 'components/progress' as componentsProgress;
@use 'components/volume';
@use 'types/audio';
@use 'types/video';
@use 'states/fullscreen';
@use 'plugins/ads';
@use 'plugins/preview-thumbnails/index';
@use 'utils/animation' as utilsAnimation;
@use 'utils/hidden';
