site
.github
.vscode
*.code-workspace
credentials.json
deploy.json
yarn.lock
package-lock.json
*.webm
*.mp4
!dist/blank.mp4
tasks
vite.config.ts
pnpm-workspace.yaml
pnpm-lock.yaml
.nvmrc
.claude
tsconfig.json
