// ==========================================================================
// Headings
// ==========================================================================

h1 {
    margin: 0 0 (@spacing-base / 2);
    .font-size(@font-size-h1);
    font-weight: @font-weight-heavy;
    letter-spacing: @letter-spacing-headings;
}
