// ==========================================================================
// Examples
// ==========================================================================

@use 'sass:math';

// Example players
.plyr {
  --shadow-color: 197deg 32% 65%;
  border-radius: $border-radius-2x-large;
  box-shadow: 0 0.5px 0.6px hsl(var(--shadow-color) / 0.36), 0 1.7px 1.9px -0.8px hsl(var(--shadow-color) / 0.36),
    0 4.3px 4.8px -1.7px hsl(var(--shadow-color) / 0.36), -0.1px 10.6px 11.9px -2.5px hsl(var(--shadow-color) / 0.36);
  margin: $spacing-base auto;

  &.plyr--audio {
    max-width: 480px;
  }
}

.plyr__video-wrapper::after {
  border: 1px solid rgba(#000, 0.15);
  border-bottom-color: rgba(#000, 0.25);
  border-radius: inherit;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

// Style full supported player
.plyr__cite {
  color: $color-gray-500;

  .icon {
    margin-right: math.div($spacing-base, 6);
  }
}
