// ==========================================================================
// Examples
// ==========================================================================

// Example players
.plyr {
  border-radius: $border-radius-base;
  box-shadow: 0 2px 15px rgba(#000, 0.1);
  margin: $spacing-base auto;

  &.plyr--audio {
    max-width: 480px;
  }
}

.plyr__video-wrapper::after {
  border: 1px solid rgba(#000, 0.15);
  border-radius: inherit;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

// Style full supported player
.plyr__cite {
  color: $color-gray-500;

  .icon {
    margin-right: ceil($spacing-base / 6);
  }
}
