// --------------------------------------------------------------
// Animation utils
// --------------------------------------------------------------

.plyr--no-transition {
  transition: none !important;
}
