// --------------------------------------------------------------
// Animation utils
// --------------------------------------------------------------

.ggs-plyr--no-transition {
  transition: none !important;
}
