// ==========================================================================
// Header
// ==========================================================================

header {
    padding-bottom: @spacing-base;
    text-align: center;

    p {
        margin-bottom: (@spacing-base * 1.5);
    }

    .action {
        display: inline-flex;

        .button .icon {
            flex-shrink: 0;
        }
    }

    @media @mq-md {
        max-width: 400px;
        margin-right: (@spacing-base * 2);
        padding-bottom: (@spacing-base * 2);
        text-align: left;
    }
}
