// ==========================================================================
// Detachable
// ==========================================================================

.plyr__detachable {
  &.detached {
    &:after{
      content:"lol";
    }
    .plyr{
      position: fixed;
      bottom:10px;
      right:10px;
      height:210px;
      width:370px;
    }
  }
}
