// ==========================================================================
// Header
// ==========================================================================

header {
  padding-bottom: $spacing-base;
  text-align: center;
  h2 {
    margin-bottom: 1rem;
    text-align: left;
  }
}
