// ==========================================================================
// Core
// ==========================================================================

html,
body {
  width: 100%;
}

html {
  background: $page-background;
}

body {
  min-height: 100%;
}
