// ==========================================================================
// Super basic grid
// ==========================================================================

.grid {
  margin: 0 auto;
  max-width: $container-max-width;
  padding: $spacing-base;
}
