// ==========================================================================
// Errors (AWS pages)
// ==========================================================================

// Error page
html.error,
.error body {
    height: 100%;
}
.error body {
    width: 100%;
    display: table;
    table-layout: fixed;
}
.error main {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}