// ==========================================================================
// Examples
// ==========================================================================

// Example players
.plyr {
    margin: 0 auto @padding-base;
    max-width: @example-width-video;

    &-controls {
        border-radius: 0 0 @border-radius-base @border-radius-base;
    }
}
.plyr-audio {
    max-width: @example-width-audio;

    .plyr-controls {
        border-radius: @border-radius-base;
    }
    .plyr-progress {
        border-radius: @border-radius-base @border-radius-base 0 0;
        overflow: hidden;
    }
}
video,
.plyr-video-embed {
    border-radius: @border-radius-base;
}
.plyr-video-embed {
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

// Style full supported player
.plyr-video,
.plyr-youtube,
.plyr-vimeo {
    video,
    .plyr-video-embed {
        border-radius: @border-radius-base @border-radius-base 0 0;
    }
    &.plyr-fullscreen,
    &.fullscreen-active {
        max-width: none;

        .plyr-controls,
        video,
        iframe {
            border-radius: 0;
        }
        iframe {
            -webkit-mask-image: none;
        }
    }
}

.cite {
    display: none;

    .icon {
        margin-right: (@padding-base / 4);
    }
}

.plyr-video ~ ul .cite-video,
.plyr-audio ~ ul .cite-audio,
.plyr-youtube ~ ul .cite-youtube,
.plyr-vimeo ~ ul .cite-vimeo {
    display: block;
}