// ==========================================================================
// Examples
// ==========================================================================

section {
    margin: 0 auto @padding-base;
    max-width: @example-width-video;
}

video,
.plyr__video-embed {
    border-radius: @border-radius-base;
    max-width: 100%;
    vertical-align: middle;
}
.plyr__video-embed {
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

// Example players
.plyr {
    margin: 0 auto;

    &__controls {
        border-radius: 0 0 @border-radius-base @border-radius-base;
    }
    video,
    .plyr__video-embed {
        border-radius: @border-radius-base @border-radius-base 0 0;
    }
    &--fullscreen,
    &--fullscreen-active {
        max-width: none;

        .plyr-controls,
        video,
        iframe {
            border-radius: 0;
        }
        iframe {
            -webkit-mask-image: none;
        }
    }
}
.plyr--audio {
    max-width: @example-width-audio;

    .plyr__controls {
        border-radius: @border-radius-base;
    }
    .plyr__progress {
        border-radius: @border-radius-base @border-radius-base 0 0;

        progress,
        [type='range'] {
            border-radius: @border-radius-base @border-radius-base 0 0;
            overflow: hidden;
        }
    }
}

// Style full supported player
.plyr__cite {
    display: none;
    margin-top: @padding-base;

    .icon {
        margin-right: (@padding-base / 4);
    }
}

.plyr--video ~ ul .plyr__cite--video,
.plyr--audio ~ ul .plyr__cite--audio,
.plyr--youtube ~ ul .plyr__cite--youtube,
.plyr--vimeo ~ ul .plyr__cite--vimeo {
    display: block;
}
