// ==========================================================================
// Panels
// ==========================================================================

// Panels
.panel {
    display: none;

    &.active {
        display: block;
        animation: fade-in .3s ease;
    }
}