// --------------------------------------------------------------
// Fullscreen
// --------------------------------------------------------------

@use '../lib/mixins';

.plyr:fullscreen {
  @include mixins.plyr-fullscreen-active;
}

// Fallback for unsupported browsers
.plyr--fullscreen-fallback {
  @include mixins.plyr-fullscreen-active;
  position: fixed;
  inset: 0;
  z-index: 10000000;
}
