// ==========================================================================
// Base
// ==========================================================================

// Set to 100% for rem sizing
html {
  font-size: 100%;
}

body {
  @include font-smoothing;
  @include font-size($font-size-base);

  color: $color-text;
  font-family: $font-sans-serif;
  font-weight: $font-weight-medium;
  line-height: $line-height-base;
}

button,
input,
select,
textarea {
  font: inherit;
}

p,
small {
  margin: 0 0 ($spacing-base * 1.5);
}

small {
  @include font-size($font-size-small);

  display: block;
}
