@use "../settings/badges";
@use "../settings/type";

// --------------------------------------------------------------
// Badges
// --------------------------------------------------------------

.plyr__badge {
  background: badges.$plyr-badge-background;
  border-radius: badges.$plyr-badge-border-radius;
  color: badges.$plyr-badge-text-color;
  font-size: type.$plyr-font-size-badge;
  line-height: 1;
  padding: 3px 4px;
}
