// --------------------------------------------------------------
// Controls
// --------------------------------------------------------------

// Hide native controls
.plyr--full-ui ::-webkit-media-controls {
  display: none;
}

// Playback controls
.ggs-plyr__controls {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  text-align: center;

  .ggs-plyr__progress__container {
    flex: 1;
    min-width: 0; // Fix for Edge issue where content would overflow
  }

  // Spacing
  .ggs-plyr__controls__item {
    margin-left: calc(#{$plyr-control-spacing} / 4);

    &:first-child {
      margin-left: 0;
      margin-right: auto;
    }

    &.ggs-plyr__progress__container {
      padding-left: calc(#{$plyr-control-spacing} / 4);
    }

    &.ggs-plyr__time {
      padding: 0 calc(#{$plyr-control-spacing} / 2);
    }

    &.ggs-plyr__progress__container:first-child,
    &.ggs-plyr__time:first-child,
    &.ggs-plyr__time + .ggs-plyr__time {
      padding-left: 0;
    }
  }

  // Hide empty controls
  &:empty {
    display: none;
  }
}

// Some options are hidden by default
.ggs-plyr [data-plyr='captions'],
.ggs-plyr [data-plyr='pip'],
.ggs-plyr [data-plyr='airplay'],
.ggs-plyr [data-plyr='fullscreen'] {
  display: none;
}
.ggs-plyr--captions-enabled [data-plyr='captions'],
.ggs-plyr--pip-supported [data-plyr='pip'],
.ggs-plyr--airplay-supported [data-plyr='airplay'],
.ggs-plyr--fullscreen-enabled [data-plyr='fullscreen'] {
  display: inline-block;
}
