@use "../settings/breakpoints";
@use "../settings/controls";
@use "../settings/type";

// --------------------------------------------------------------
// Time
// --------------------------------------------------------------

.plyr__time {
  font-size: type.$plyr-font-size-time;
}

// Media duration hidden on small screens
.plyr__time + .plyr__time {
  // Add a slash in before
  &::before {
    content: '\2044';
    margin-right: controls.$plyr-control-spacing;
  }

  @media (max-width: (breakpoints.$plyr-bp-md - 1px)) {
    display: none;
  }
}
