// --------------------------------------------------------------
// Badges
// --------------------------------------------------------------

.plyr__badge {
    padding: 1px 4px;
    border-radius: 2px;
    background: @plyr-menu-color;
    color: @plyr-menu-bg;
    font-size: @plyr-font-size-tiny;
}
