// --------------------------------------------------------------
// Embedded players
// YouTube, Vimeo, etc
// --------------------------------------------------------------

.plyr__video-embed {
    // Default to 16:9 ratio but this is set by JavaScript based on config
    @padding: ((100 / 16) * 9);
    @offset: unit((400 - @padding) / 8, ~'%');

    padding-bottom: unit(@padding, ~'%');
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        user-select: none;
    }

    // Vimeo hack
    > div {
        position: relative;
        padding-bottom: 400%;
        transform: translateY(-@offset);
    }
}
// To allow mouse events to be captured if full support
.plyr--full-ui .plyr__video-embed iframe {
    pointer-events: none;
}
