// --------------------------------------------------------------
// Video styles
// --------------------------------------------------------------

.plyr--video {
    overflow: hidden;
}

.plyr__video-wrapper {
    position: relative;
    background: #000;
    border-radius: inherit;
    // Require z-index to force border-radius
    z-index: 0;
    overflow: hidden;
}
