@use "../lib/css-vars";
@use "type";

// ==========================================================================
// Captions
// ==========================================================================

$plyr-captions-background: css-vars.var(--plyr-captions-background, rgba(#000, 0.8)) !default;
$plyr-captions-text-color: css-vars.var(--plyr-captions-text-color, #fff) !default;
$plyr-font-size-captions-base: type.$plyr-font-size-base !default;
$plyr-font-size-captions-small: type.$plyr-font-size-small !default;
$plyr-font-size-captions-medium: type.$plyr-font-size-large !default;
$plyr-font-size-captions-large: type.$plyr-font-size-xlarge !default;
