// ==========================================================================
// Chapters
// ==========================================================================

$plyr-chapters-background: var(--plyr-chapters-background, #fff) !default;
$plyr-chapters-text-color: var(--plyr-chapters-text-color, #212121) !default;

$plyr-font-size-chapters-base: $plyr-font-size-base !default;
$plyr-font-size-chapters-small: $plyr-font-size-small !default;
$plyr-font-size-chapters-medium: $plyr-font-size-large !default;
$plyr-font-size-chapters-large: $plyr-font-size-xlarge !default;
