// ==========================================================================
// Colors
// ==========================================================================

$plyr-color-main: #1aafff !default;
$plyr-color-gunmetal: #2f343d !default;
$plyr-color-fiord: #4f5b5f !default;
$plyr-color-lynch: #6b7d85 !default;
$plyr-color-heather: #b7c5cd !default;

@include css-vars(
    (
        --plyr-color-main: $plyr-color-main,
        --plyr-color-gunmetal: $plyr-color-gunmetal,
        --plyr-color-fiord: $plyr-color-fiord,
        --plyr-color-lynch: $plyr-color-lynch,
        --plyr-color-heather: $plyr-color-heather
    )
);
