// ==========================================================================
// Cosmetic
// ==========================================================================

@use './colors';

$plyr-focus-visible-color: var(--plyr-focus-visible-color, var(--plyr-color-main, colors.$plyr-color-main)) !default;
