// ==========================================================================
// Descriptions
// ==========================================================================

$plyr-descriptions-background: var(--plyr-descriptions-background, rgba(#000, 0.8)) !default;
$plyr-descriptions-text-color: var(--plyr-descriptions-text-color, rgb(5, 253, 116)) !default;

$plyr-font-size-descriptions-base: $plyr-font-size-base !default;
$plyr-font-size-descriptions-small: $plyr-font-size-small !default;
$plyr-font-size-descriptions-medium: $plyr-font-size-large !default;
$plyr-font-size-descriptions-large: $plyr-font-size-xlarge !default;
