// ==========================================================================
// Enable helpers
// ==========================================================================

$plyr-border-box: true !default;
$plyr-touch-action: true !default;
$plyr-sr-only-important: true !default;
