@use "../lib/css-vars";

// ==========================================================================
// Typography
// ==========================================================================

$plyr-font-family: css-vars.var(--plyr-font-family, inherit) !default;
$plyr-font-size-base: css-vars.var(--plyr-font-size-base, 15px) !default;
$plyr-font-size-small: css-vars.var(--plyr-font-size-small, 13px) !default;
$plyr-font-size-large: css-vars.var(--plyr-font-size-large, 18px) !default;
$plyr-font-size-xlarge: css-vars.var(--plyr-font-size-xlarge, 21px) !default;
$plyr-font-size-time: css-vars.var(--plyr-font-size-time, $plyr-font-size-small) !default;
$plyr-font-size-menu: css-vars.var(--plyr-font-size-menu, $plyr-font-size-small) !default;
$plyr-font-size-badge: css-vars.var(--plyr-font-size-badge, 9px) !default;
$plyr-font-weight-regular: css-vars.var(--plyr-font-weight-regular, 400) !default;
$plyr-font-weight-bold: css-vars.var(--plyr-font-weight-bold, 600) !default;
$plyr-line-height: css-vars.var(--plyr-line-height, 1.7) !default;
$plyr-font-smoothing: css-vars.var(--plyr-font-smoothing, false) !default;
