// ==========================================================================
// Misc cosmetic
// ==========================================================================

// Button count arrow size
$arrow-size: 5px;

// Radii
$border-radius-small: 4px;
$border-radius-medium: 6px;
$border-radius-2x-large: 12px;

// Background
$page-background: linear-gradient(to left top, $color-background-from, $color-background-to);
