// ==========================================================================
// Misc cosmetic
// ==========================================================================

// Button count arrow size
$arrow-size: 5px;

// Radii
$border-radius-base: 4px;

// Background
$page-background: linear-gradient(to left top, $color-background-from, $color-background-to);
