// ==========================================================================
// Plyr Settings
// ==========================================================================

@include css-vars(
  (
    --plyr-color-main: $color-brand-primary,
    --plyr-font-size-base: 13px,
    --plyr-font-size-small: 12px,
    --plyr-font-size-time: 11px,
    --plyr-font-size-badges: 9px,
    --plyr-font-size-menu: var(--plyr-font-size-base),
    --plyr-font-weight-regular: 500,
    --plyr-font-weight-bold: 600,
    --plyr-font-size-captions-medium: 18px,
    --plyr-font-size-captions-large: 21px,
  )
);
